.topbar-v1{
    border-top: none;
    background: #0a82c6;
}

.topbar-v1 .top-v1-data li {
    border-right: none;
    display: inline-block;
    margin-right: -4px;
    padding: 14px 11px;
}


.topbar-v1 .top-v1-data li a{
    color: #fff !important;
    text-transform: uppercase;
}

.topbar-v1 ul.left-topbar {
    font-size: 13px;
    margin-top: 8px;
    color:#fff;
}
.topbar-v1 ul.left-topbar > li {
    display: inline;
    list-style: outside none none;
    margin-right: 15px;
    padding-bottom: 15px;
    position: relative;
}
.topbar-v1 ul.left-topbar > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.pull_left_50{
    padding-left: 40px;
}

img.profile-image {
    height: 45px;
    margin-right: 10px;
    width: 45px;
    margin-bottom: 5px;
}
.rounded-x {
    border-radius: 50% !important;
}

.topbar-v1 ul.left-topbar > li > a:hover {
    cursor: pointer;
}
.topbar-v1 ul.currency, .topbar-v1 ul.language {
    background: #fff none repeat scroll 0 0;
    display: none;
    left: -5px;
    list-style: outside none none;
    min-width: 125px;
    padding: 4px 0;
    position: absolute;
    top: 27px;
    z-index: 1;
}
@media (max-width: 768px) {
.topbar-v1 ul.currency, .topbar-v1 ul.language {
    top: 20px;
}
}
.topbar-v1 li:hover ul.currency, .topbar-v1 li:hover ul.language {
    display: block;
}
.topbar-v1 ul.currency::after, .topbar-v1 ul.language::after {
    border-bottom: 6px solid #ccc;
    border-left: 6px inset transparent;
    border-right: 6px inset transparent;
    content: " ";
    display: block;
    height: 0;
    left: 8px;
    position: absolute;
    top: -4px;
    width: 0;
}
.topbar-v1 ul.currency li a, .topbar-v1 ul.language li a {
    color: #000;
    display: block;
    font-size: 10px;
    margin-bottom: 1px;
    padding: 2px 12px;
    text-transform: uppercase;
}
.topbar-v1 ul.currency li.active a i, .topbar-v1 ul.language li.active a i {
    color: #000;
    float: right;
    margin-top: 2px;
}
.topbar-v1 ul.currency li a:hover, .topbar-v1 ul.language li a:hover, .topbar-v1 ul.currency li.active a, .topbar-v1 ul.language li.active a {
    background: #ccc none repeat scroll 0 0;
}
.topbar-v1 ul.currency li a:hover, .topbar-v1 ul.language li a:hover {
    text-decoration: none;
}

.navbar{
	background: #0a82c6 url('../../images/mesh.png') !important;
    margin-top: 1px !important;
    border-radius: 0;
    border: none;
}

.navbar-header{
   width: 100%;
}
.navbar-brand{
   float:left;
   height: auto;
}


.navbar-brand img{width: 75%;}

@media (max-width: 640px) {
    .navbar_left{
        float: left;
        width: 100%;
    }
	.navbar-brand img {
	    width: 65%;
	}
}



.searchoption{
	padding-bottom: 20px;
    padding-top: 20px;
}

.searchoption li{
	display: inline-block;
	color: #fff;
	margin: 10px;
	width: 90px;
    text-transform: uppercase;
}

#atoz {
    padding-bottom: 20px;
}
#atozbox {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    height: auto;
    margin: auto;
    padding: 5px;
}
#atozbox li {
    color: #fff;
    display: inline;
    text-transform: uppercase;
    margin: 0.2%;
}
#atozbox li a{
    color: #fff;    
    margin: 0.4%;
}

.home_body_start{
	background: #fff;
}
.some_blue_body{
	height: 100px;
	background: #0a82c6;
	width: 100%;
	top:0;
}
h2.h2_plain
{
    padding-left: 15px;
}
.col_md_4{
    width: 40%;
}
.col_md_8{
    width: 60%;
}
.leftsidesection,.rightsidesection
{
    background: #F6F6F6;
    padding: 10px 30px;
}
.feature_thumb_images .item_image{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    width: 29%;
}
.rightsidesection .info
{
    font-size: 15px;
}

.adv_image{
    margin-bottom: 15px;
    margin-top: 15px;
}


h3.headline_title
{
   font-size: 20px;
   text-transform: uppercase;
}

.up_down_anchor{
    padding: 0 15px;
}

.music1 {
    background-color: #fff;
    margin: 5px 0;
}
.music2 {
    background-color: #fff;
    margin-bottom: 15px;
    opacity: 0.8;
}

.music_icons_left{
    padding: 5px;
}
.music_icons_left img{
    width: 25px;
}

.music_icons_left .songs_name {
    padding-left: 5px;
}

.music_icons_left audio{
    width: 5%;
    margin-top: 5px;
    padding-left: 5px;
}
.music_icons{
	padding: 15px;
}

.lyrics_anchor{
    vertical-align: top;    
    padding: 2px 10px;
}

.music_icons audio{
	width: 60%;
	margin-top: 5px;
	padding-left: 20px;
}

.songs_name{
	padding-left: 20px;
}


.eventbanner {
    background-color: #fff;
    height: auto;
    margin-top: 58px;
}


@media screen and (min-width : 992px) and (max-width:1200px) {

}

@media screen and (min-width : 768px) and (max-width:992px) {
     .col_md_4{
        display: block;
        width: 40%;
        float: left;
    }
    .col_md_8{
        display: block;
        width: 60%;
        float: left;
    }

    .logo_bar_left{
        width: 25%;
        float: left;
    }
    .search_bar_right{
        width: 75%;
        float: left;
    }

    h3.headline_title {
    font-size: 18px;
    text-transform: uppercase;
     }

    .feature_thumb_images .item_image {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    width: 100px;
   }

   .music_icons .col-md-6{
     padding-bottom: 15px;
   }
}

@media (max-width: 768px) {
    .col_md_4{
        display: block;
        width: 40%;
        float: left;
    }
    .col_md_8{
        display: block;
        width: 60%;
        float: left;
    }

    .logo_bar_left{
        width: 25%;
        float: left;
    }
    .search_bar_right{
        width: 75%;
        float: left;
    }

    .content-md {
        padding-bottom: 35px;
        padding-top: 35px;
    }

    .search_bar_right .text-right{
        text-align: left;
    }


    h3.headline_title {
    font-size: 15px;
    }
    .feature_thumb_images .item_image {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    width: 47%;
   }
   .music_icons .col-md-6{
     padding-bottom: 15px;
   }
}



@media (max-width: 640px) {
    .col_md_4{
        display: block;
        width: 100%;
    }
    .col_md_8{
        display: block;
        width: 100%;
    }

    .logo_bar_left{
        width: 100%;
       display: block;
    }
    .search_bar_right{
        width: 100%;
        float: left;
    }
    .feature_thumb_images .item_image {
      width: 32%;
   }
    .music_icons .col-md-6{
     padding-bottom: 15px;
   }
}

@media screen and (min-width : 640px) and (max-width:719px) {
    .feature_thumb_images .item_image {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    width: 47%;
   }
   .music_icons .col-md-6{
     padding-bottom: 15px;
   }
}