* {
	margin:0 auto;
	padding:0px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body{
  margin:0 auto;
  padding:0px;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  letter-spacing:1px;
  background:#0072C6 url(../images/back/windows2.jpg) no-repeat center fixed;
}

.glyphicon{
color:#000;
}

img.cp, span.cp, .cp {
	cursor:pointer;
}
.hides,.hide {
	display:none;
}
.styled_by_me {
	padding:3px;
	background:#F5F5F5;
	border:1px solid #CCC;
}
.slideTopDown {
	width:100%;
	background:#E7E3E2;
	margin-bottom:1px;
}
.slideTopDown span {
	padding-left:20px;
	color:#600;
	cursor:pointer;
	width:70%;
	line-height:30px;
}
.initialShow {
	border:1px solid #CCC;
	position:relative;
	width:auto;
	height:auto;
	background:#FFF;
	margin-bottom:3px;
}
.initialHide {
	display:none;
	border:1px solid #CCC;
	position:relative;
	width:auto;
	height:auto;
	background:#FFF;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
}
.panelTopDown {
	width:100%;
	background:#3399CC;
}
.ajaxActiveInactive {
	cursor:pointer;
	text-decoration:underline;
}
.ajaxActiveInactive:hover {
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
h1 {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 31px;
	font-weight: bold;
}
h2 {
	font-size: 26px;
	padding: 0 0 10px 0;
}
h3 {
	font-size: 17px;
	padding: 0 0 10px 0;
}
h4 {
	font-size: 16px;
	padding: 0 0 5px 0;
}
h5 {
	font-size: 14px;
	padding: 0 0 5px 0;
}
h6 {
	font-size: 12px;
	padding: 0 0 5px 0;
}
p {
	padding: 5px 0 10px 0;
	line-height: 1.6em;
}
h2.headingh2
{
	width:50%;
	float:left;
	padding:0px;
}
p.actionp {
    line-height: 1.6em;
    padding: 5px 0 0px;
	width:50%;
	float:right;
	text-align:right;
	margin-top:15px;
}
p.actionp a{ color:#FFF;}
.errorClass {
	color:#F00;
}
img {
	border:0px;
}
.paging a {
	padding:3px;
	font-size:13px;
}
.paging a.active {
	text-decoration:underline;
	font-weight:bold;
	color:#F60;
}
#adminImage {
	position:absolute;
	top:95px;
	text-align:left;
	padding:5px;
}



#top-link {
	background:none repeat scroll 0 0 #06F;
	bottom:5px;
	display:block;
	padding:3px;
	position:fixed;
	right:20px;
	text-transform:uppercase;
}
#top-link a {
	color:#FFF;
}
#wrapper {
	margin:0 auto;
	padding:0px;
	text-align:center;
	width:100%;
}
#ajaxLoadingDiv {
	position: absolute;
	top: 45%;
	left: 0%;
	height: 32px;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#main {
	color:#096;
	width:100%;
}
#header .logo {
	color:#0CC;
	cursor:pointer;
	min-height:85px;
	padding-top:0;
	background:#006;
}
#header .logo:hover {
	color:#EEE;
}
#header .logo h1 {
	width:72%;
	float:left;
	text-align:left;
	padding-left:50px;
	color: #FFF;
	font-size: 40px;
}
#logo {
	float:left;
	height:120px;
	width:120px;
	vertical-align:top;
}
.logoRigth {
	width:27%;
	float:left;
	text-align:right;
	padding-right:20px;
	padding-top:20px;
}
#header {
	width:100%;
	background:#096;
	margin-bottom:5px;
	min-height:125px;
}
#header .headerL {
	float:left;	
	color:#FFF;
	text-align:left;
	width:36%;
	padding-top: 5px;
	padding-left:15px;
}
#header .headerR {
	float:right;
	padding-right:20px;
	color:#FFF;
	text-align:right;
	height:30px;
	width:60%;
	line-height:40px;
}
#header .headerR ul li {
	list-style:none;
	display:inline;
	line-height:30px;
	margin:2px;	
}
#header a {
	text-decoration:none;
	color:#FFF;
	padding:2px 4px;
}
#header a:hover {
	color:#FFC;
	background:#060;	
}
.messageDiv {
	height:30px;
	color:#FFF;
	background:#093 url(../images/icon/delete-item.png) right no-repeat;
	text-align:left;
	vertical-align:middle;
	cursor:pointer;
	position: relative;	
	margin:0 auto;
	padding:0px;
	padding:5px 20px;
	margin-bottom:20px;
}
.whiteColor {
	color:#FFF;
}
.infos {
	background:url(../images/icon/information.png) no-repeat left;
	padding-left:20px;
}
#topMenuAction:hover {
	color:#F90;
}
#menuTab {
	width:97%;
	margin-bottom:10px;
}
#menuTab a {
	text-decoration:none;
	color:#FFF;
}

#menuTab .menuItem {
	width:140px;
	height:120px;
	padding:15px;
	margin:3px;
	font-size:13px;
	text-align:center;
	float:left;
}
#menuTab .menuItem:hover {
	color:#FFF;
	cursor:pointer;	
	background:#03F !important;
/*    transform: scale(1.1);*/
}
.leftMenuActive {
	background:#F90 !important;
}
.leftMenuActive:hover {
	background:#03F !important;
}
.clearfloat {
	clear:both;
}
#container {
	padding:0px;
	width:99%;
	color:#333;
	line-height:30px;
}
#containerLeft {
	width:20%;
	float:left;
	line-height:30px;
	color:#CCC;
	min-height:200px;
	-moz-border-radius:10px;
	-webkitt-border-radius:10px;
}
.admin_left_nav{
 
}
.admin_left_nav ul {
	list-style:none;
	width:100%;
}
.admin_left_nav ul li {
	text-align:left;
	list-style:none;
	min-width:270px;
	line-height: 45px !important;
	margin-bottom:5px;
	background:#06C;
	padding-left:20px;
	
	 text-shadow: 0 2px 3px #777777;
	-webkit-text-shadow: 0 2px 3px #777777;
	-moz-text-shadow: 0 2px 3px #777777;
	-khtml-text-shadow: 0 2px 3px #777777;
	-ms-text-shadow: 0 2px 3px #777777;
	-o-text-shadow: 0 2px 3px #777777;
}

.admin_left_nav li.activeLi {
	width:100%;
	text-align:left;
	color:#FFF;	
	background:#009966;
	font-size:14px;
}
.admin_left_nav ul li:hover {
	background:#009;
	color:#FFF;
}
.admin_left_nav ul li a {
	text-decoration:none;
	color: #FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}
.admin_left_nav ul li a:hover {
	color:#FFF;
}



#containerRight, #containerRightyes {
	width:78.5%;
	float:left;
	vertical-align:top;
	text-align:left;
	margin-left:10px;
	background:#FFF;
	padding:10px;
	min-height:660px;
	position: relative;				
}

.border_samples{ 
 border:1px solid #666;
 border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;	
}

.text_shadow_sample{
text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
-webkit-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
-moz-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
-khtml-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
-ms-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
-o-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);	
}

#containerRightno {
	width:98%;
	float:left;
	vertical-align:top;
	text-align:left;
	margin-right:5px;
	background:#FFF;
	padding:10px;
	min-height:400px;
	border:1px solid #666;
	 border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
}
#containerRight h1, #containerRightyes h1, #containerRightno h1 {
	color:#F60;
	font-size:24px;
}
#footer {
	color: #FFF;
	font-style: italic;
	font-weight: bold;
}

.managetable {
	width:100%;
	color:#630;
}
#title {
	background:#479400;
	font-weight:bold;
	color:#000;
	padding-left:20px;
}
.managetable td {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	letter-spacing:.5px;
	padding:4px 4px 4px 15px;
}
.managetable a, a:visited {
	color:#FFF;
	letter-spacing:.2px;
	text-decoration:none;
}
.managetable a:hover {
	color:#000;}
.bgTdHeader {
	background:#009966;
	color:#FFF;
}
div.initialShow table .bgTdHeader th{
	text-align:center;
}
.bgTdHeader a:hover {
	color:#FF0;
}
.bgTdHeader a {
	color:#FFF;
	cursor:pointer;
}
.sortActive1 {
	background:url(../images/icon/down_arrow.gif) no-repeat right;
	padding:6px 15px;
}
.sortActive2 {
	background:url(../images/icon/up_arrow.gif) no-repeat right;
	padding:6px 15px;
}
.bgTdTwo {
	background-color:#009966;
	color:#FFF;
}
.bgTdTwo a {
	color:#FFF;
}
.bgTdTwo a:hover {
	color:#F60;
}
.bgTdOne {
	color:#575757;
	-moz-border-radius:6px 6px 0px 0px;
	-webkitt-border-radius:6px 6px 0px 0px;
}
.bgTdOne a {
	font-size:14px;
}
.bgTdOne a:hover {
	text-decoration:underline;
}
.bgTdRTwo, .even {
	background-color:#FCFCFC;
	color:#600;
}
.bgTdROne, .odd {
	background-color:#E9EFEE;
	color:#600;
}
.bgTd1 {
	background-color:#FCFDCE;
	color:#000;
	border:1px solid #000;
}
.bgTd2 {
	background-color:#FCFDCE;
	color:#000;
	border:1px solid #000;
}
.anchorStyle {
	text-decoration:underline;
	font-size:12px;
}
#searchTxt {
	padding:5px 5px 0px 5px;
}
.table_head_css {
	padding:4px;
	border:0px;
	color: #FFF;
}
.table_head_css tr td {
	border-bottom:none;
}
.table_head_css:hover {
	background:#0066CC;
	color:#CCC;
}
.table_head_css a {
	color:#FFF;
}
.table_head_css a:hover {
	color:#FFF;
	text-decoration:none;
}
.tblform {
	background:url(../images/bg_simple.jpg);
}
.tblform td {
	padding:5px;
	border-bottom:1px dotted #FFF;
}
.oddrowfirst, .evenrowfirst {
	width:20%;
	border-right:1px dotted #FFF;
}
.tblform input[type='text'], .tblform input[type='password'], .tblform select {
	padding:5px;
}
.tblform em, .tblform strong {
	font-size:20px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.active {
	cursor:pointer;
	color:#F90;
}
#imageListdiv {
	background:url(../images/bg_simple.gif);
}
.albumdiv {
	padding:5px;
}
.starRed {
	color:#F00;
}
.tblform .table_head_css tr:hover {
	background:#093;
}
.tblform tr:hover {
	background:#C1E0FF;
}
.top_desc_text {
	background:#666;
	color:#FFF;
}
.left_Dash {
	float:left;
	width:48%;
	border:1px solid #CCC;
}
.right_Dash {
	float:right;
	width:48%;
	border:1px solid #CCC;
}
.left_Dash span, .right_Dash span {
	color:#600;
	padding-left:10px;
	font-size:18px;
	font-weight:bold;
}
.initialHide ul {
	list-style:none;
	padding-left:10px;
}
.initialHide ul li label {
	float:left;
	width:280px;
}
.initialHide ul li span {
	font-weight:bold;
	color:#600;
}
#footer a {
	color:#600;
}
.ntbs {
	width:408px;
	border:none;
	height:20px;
}
.nta {
	width: 700px;
	height: 200px;
	padding: 10px;
	border: 2px solid #ddd;
}

.rightPer {
	float:right;
	width:100%;
	text-align:right;
}
.rightPerUser {
	float:right;
}
.styled_by_me{
padding:5px;	
}

#globalErrorMessageDiv {
	z-index:1000;
	top:250px;
	text-align:center;
	background:#FBFBFB;
	color:#F00;
	text-shadow:0px 1px #666;
	box-shadow:0px 0px 2px 2px #999 inset;
	padding:20px 10px 20px 10px;
	border-radius:0.5em;
}

div.imagethumb-form .close-msg {
	z-index: 999;
	right: -5px;
	top: -8px;
	background-color: #000;
	border-radius: 12px;
	width: 21px;
	height: 21px;
	cursor:pointer;
	padding:5px;
	color:#FFF;
}

div.imagethumb-form {
	display: inline-block;
	margin: 10px 2px 0 0;
	position: relative;
	vertical-align: top;
}

div.imagethumb-form a.img-wrap {
	display: inline-block;
	border: 1px solid #999;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
}

div.imagethumb-form a.img-wrap:hover {
	border: 1px solid #666;
}

.mywell
{
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    padding: 19px;	
}

.managetable {
  border: 1px solid #dddddd;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.managetable th,
.managetable td {
  border-left: 1px solid #dddddd;
}

.managetable caption + thead tr:first-child th,
.managetable caption + tbody tr:first-child th,
.managetable caption + tbody tr:first-child td,
.managetable colgroup + thead tr:first-child th,
.managetable colgroup + tbody tr:first-child th,
.managetable colgroup + tbody tr:first-child td,
.managetable thead:first-child tr:first-child th,
.managetable tbody:first-child tr:first-child th,
.managetable tbody:first-child tr:first-child td {
  border-top: 0;
}

.managetable thead:first-child tr:first-child > th:first-child,
.managetable tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.managetable thead:first-child tr:first-child > th:last-child,
.managetable tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.managetable thead:last-child tr:last-child > th:first-child,
.managetable tbody:last-child tr:last-child > td:first-child,
.managetable tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.managetable thead:last-child tr:last-child > th:last-child,
.managetable tbody:last-child tr:last-child > td:last-child,
.managetable tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.managetable tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.managetable tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.managetable caption + thead tr:first-child th:first-child,
.managetable caption + tbody tr:first-child td:first-child,
.managetable colgroup + thead tr:first-child th:first-child,
.managetable colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.managetable caption + thead tr:first-child th:last-child,
.managetable caption + tbody tr:first-child td:last-child,
.managetable colgroup + thead tr:first-child th:last-child,
.managetable colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.body_part
{
padding-left:15px;	
}
form .row {
	display: block;
	padding: 3px 8px;
	margin-bottom: 2px;
	line-height:25px;
}
form .row:hover {
	background: #f1f7fa;
	padding: 3px 8px;
	display: block;
	width:99.5%;
}
form label {
	display: inline-block;
	width: 150px;
	padding: 6px 0;
	color: #464646;
	vertical-align: top;
}
form .req {
	color: #ca5354;
}
form .txt {
	display: inline-block;
	padding: 5px 5px;
	padding-right: 5px;
	width: 240px;
	font-weight: normal;
	color: #898989;
	background-position: 110% center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
	-moz-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
form select {
	display: inline-block;
	padding: 5px 5px;
}
label.error {
	color: #FF0000;
    padding-left: 150px;
    width: 100%;
}
.error {
	color:#F00;
}


.hideIt
{
display:none;	
}

#message
{
margin:0 auto;
padding:0px;
padding:5px 20px;
margin-bottom:20px;
}

.success
{
padding:5px 20px;
background:#093;
color:#FFF;	
}
.thumb_box
{
float:left;
width:200px;
text-align:center;
margin-right:10px;
padding:15px 0;	
}

.file_box
{
float:left;
width:200px;
text-align:center;
margin-right:10px;
padding:5px 0;	
border:1px solid #CCC;
margin-top:15px;
}
.file_box a
{
font-size:14px;	
}

.dataTables_filter label input
{
   -moz-box-sizing: content-box;
    background-position: 110% center;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #FFFFFF;
    color: #898989;
    display: inline-block;
    font-weight: normal;
    padding: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    transition: all 0.3s linear 0s;
    width: 150px;	
}

div.uploadify-button
{
line-height:25px !important;
}

.back1
{
background:#009966;	
}

.white{
color:#FFF;	
}

.black{
color:#000;	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
#containerRight, #containerRightyes {
	width:100%;
	}	
}
@media only screen and (max-width: 320px) {
	#containerRight, #containerRightyes {
	width:100%;
	}
}